<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="SQLservice" connectionString="Data Source=134.175.170.29;Initial Catalog=导师双选系统;User ID=sa;Password=dssxXT2020,,," providerName="System.Data.Sqlclient"/>
    </connectionStrings>
</configuration>