<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLSEVER" connectionString="Data Source=134.175.170.29;Initial Catalog=导师双选系统;User ID=sa;pwd=dssxXT2020,,,;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>